body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url("https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.search-bar input {
    width: 90%;
    padding: 10px;
    border-radius: 100px;
    border: 1.5px solid #000000;
}

.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

#clear {
    margin-top: 10px;
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search-history {
    margin-top: 20px;
}

.search-history ul {
    list-style-type: none;
    padding: 0;
}

.search-history li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
}
